<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography Web App</title>
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Steganography Web App</h1>
        
        <!-- Form to Upload Image -->
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg" required>
            <button type="submit">Upload Image</button>
        </form>
    </div>
    
    <!-- JavaScript for Dynamic UI -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
